@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  background-color: white;
  /* vh will automatically adjust the height according to browser */
  /* align items center the items in the middle of the screen verticalyy(from the top) */
  /* justify content center will  center the content in the middle of viewport. */
  /* The overflow property specifies what should happen if content overflows an element's box. */
}
.bg {
  background-image: url(./p3.jpg);
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100vw;
  height: 100vh;
  z-index: -1;
  filter: blur(25px);
}

.loading-text {
  font-size: 50px;
  color: black;
}
